body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  form button {
    background-color: white;
    color: black;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.1s ease;
  }
  
  form button:hover {
    background-color: #444;
    color: white;
  }
  